.swiper {
  width: 100%;
  border-radius: 2rem;
  height: 100%;
  background-color: white;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: white;
}

.swiper-slide button {
  display: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
}